/* styles.css */
body {
	margin: 0 auto;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 22px;
	background: #d8d7d7;
}

div,p,input,ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd {
	height: auto;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

li {
	list-style: none;
}

img {
	border: 0;
	margin: 0;
	padding: 0;
}

a:link {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #629705;
	text-decoration: none;
	overflow: hidden;
}

.logo {
	width: 1000px;
	height: 166px;
	margin: 0 auto;
}

#nav {
	width: 1000px;
	height: 50px;
	background: #fdc14c;
	margin: 0 auto;
}

#nav ul {
	width: 1000px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	margin: 0 auto;
}

#nav ul li {
	width: 200px;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	float: left;
	text-align: center;
}

#nav li a {
	color: #20201f;
	font-family: "微软雅黑";
	font-size: 16px;
	margin-left: 2px;
	display: block;
	font-weight: bold;
}

#nav li a:hover {
	color: #fff;
	background: #d58f08;
}

.hos {
	color: #fff !important;
	background: #d58f08;
}

.box {
	width: 1000px;
	height: 335px;
	margin: 0 auto;
}

.inner {
	width: 1000px;
	height: 335px;
	position: relative;
	overflow: hidden;
}

.inner img {
	width: 1000px;
	height: 335px;
	vertical-align: top
}

.box ul {
	width: 1000%;
	position: absolute;
	list-style: none;
	left: 0;
	top: 0;
}

.inner  li {
	float: left;
}

ol {
	position: absolute;
	height: 20px;
	right: 20px;
	bottom: 12px;
	text-align: center;
	padding: 5px;
}

ol li {
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: #fff;
	margin: 5px;
	cursor: pointer;
}

ol .current {
	background-color: red;
}

#arr {
	display: block;
}

#arr span {
	width: 30px;
	height: 40px;
	position: absolute;
	left: 14px;
	top: 156px;
	margin-top: -20px;
	background: #fff;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-family: '黑体';
	font-size: 30px;
	color: #000;
	opacity: 0.5;
	border: 1px solid #fff;
}

#arr #right {
	right: 18px;
	left: auto;
}

.main {
	width: 1000px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	background: #FFFFFF;
}

	font-size: 12px;
	text-indent: 2em;
}

.pingjia-box01 {
	width: 840px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.pingjia-box01 img {
	width: 300px;
	height: 160px;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}

.pingjia-box01 .bx1 {
	height: 220px;
	padding: 20px;
	border: #333333 1px solid;
	margin-bottom: 20px;
}

.pingjia-box01 .bx1 h1 {
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	background: #75b980;
}

.pingjia-box01 .bx1 p {
	color: #787676;
	font-size: 14px;
	line-height: 30px;
	text-indent: 2em;
}

.zym-box01 {
	width: 840px;
	height: auto;
	margin: 0 auto;
	margin-top: 10px;
}

.zym-box02 {
	margin-top: 10px;
	line-height: 25px;
	font-size: 14px;
	width: 840px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.scroll {
	height: 90px;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-top: 30px;
}

.scroll ul {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.scroll span {
	font-size: 20px;
	height: 30px;
}

.scroll li {
	height: 30px;
	line-height: 30px;
}




